.logo-webstudio {
	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.192;
	color: getColor(main);
	.logo-highlight {
		color: getColor("active-element");
	}
}
@media screen and (min-width: 1200px) {
	.logo-webstudio {
		font-size: getSize("logo");
	}
}
